<!DOCTYPE html>
<html>
    <head>
        <title>Pagina Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Aplicación Web con Spring Boot</h1>
        </div>
        <div>
            <h2>Lista de Contactos Clientes</h2>
            <table>
                <thead>
                    <tr>
                        <th>CODIGO CLIENTE</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>FECHA REGISTRO</th>
                     </tr>
                </thead>
                <tbody>
                    <tr th:each="contacto:${contactos}">
                        <td th:text="${contacto.id}"></td>
                        <td th:text="${contacto.nombre}"></td>
                        <td th:text="${contacto.direccion}"></td>
                        <td th:text="${#temporals.format(contacto.fechaRegistro, 'dd/MM/yyy hh:mm a')}"></td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </body>
</html>
